install.sh
**/build_docker.sh
**/run_container.sh
**/data/
Dockerfile
**/.git/
**/model/
**/experiment/
# python related
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis